body {
  margin: 0;
}
.App {
  text-align: center;

  background-image: linear-gradient(green, rgb(162, 218, 240), blue);
  min-height: 1300px;
}
.btn-1 {
  font-weight: bolder;
  padding: 15px;
  margin-top: 500px;
  text-align: center;
}
